body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black
  }
  
  .image-container {
    text-align: center;
    width: 1600px;  
    /* height: 300px; */
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  